name: Discord Notification

on:
  workflow_dispatch:
  workflow_call:
  issue_comment:
    types: [ created ]

jobs:
  notify_discord:
    runs-on: ubuntu-latest

    steps:
      # Check out repository
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          ref: refs/heads/staging
          persist-credentials: false
          fetch-depth: 0

      # Run script to parse issue
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests "pydantic==1.*" pytest regex

      - name: Parse Issue into Discord Embed
        env:
          ISSUE_BODY: ${{ toJson(github.event.issue.body) }}
          ISSUE_CREATOR: '${{ github.event.issue.user.login }}'
          ISSUE_CREATOR_ICON_URL: '${{ github.event.issue.user.avatar_url }}'
        run: |
          output=$(python ./build/parse_submission.py --discord)
          echo "$output" >> $GITHUB_ENV

      - name: Notify Discord
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
          DISCORD_USERNAME: MakerBot
          DISCORD_AVATAR: https://raw.githubusercontent.com/CollinHeist/TitleCardMaker/master/.github/logo.png
          DISCORD_EMBEDS: ${{ env.DISCORD_EMBEDS }}
        uses: Ilshidur/action-discord@0.3.2
        # with:
        #   color: "#0066ff"
        #   username: "MakerBot"
        #   message: "A new commit has been pushed with custom color."
          
