name: Build Blueprint and README Files

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    types: [ 'opened', 'edited', 'reopened', 'synchronize' ]

jobs:
  build_master_blueprint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          ref: refs/heads/staging
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: (Python) Lint Blueprint Files
        run: |
          python ./src/build/lint_blueprints.py

      - name: (Python) Build Series Blueprint Files
        run: |
          python ./src/build/build_series_blueprints.py

      # - name: (Python) Build Master Blueprint File
      #   run: |
      #     python ./src/build/build_master_blueprint.py

      - name: (Python) Build Series README Files
        run: |
          python ./src/build/build_series_readme.py

      - name: (Python) Build Master README Files
        run: |
          python ./src/build/build_master_readme.py

      - name: Commit Updated Blueprints
        run: |
          git config pull.rebase false
          git config --local user.email "action@github.com"
          git config --local user.name "TitleCardMakerBot"
          git add .
          git diff-index --quiet HEAD || git commit -a -m "Update Blueprint and README Files"
          git pull

      - run: git pull
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: refs/heads/staging
