name: Parse Blueprint Submission

on:
  # issues:
  #   types:
  #     - reopened
  #     - opened

  issue_comment:                                     
    types: [created]

jobs:
  read_issue:
    # Only run on Blueprint issues
    # if: startsWith('${{ github.event.issue.title }}', '[Blueprint]')
    if: ${{ (!github.event.issue.pull_request) && (startsWith(github.event.issue.title, '[Blueprint]')) && (contains(github.event.comment.body, '/create-blueprint'))  }}
    runs-on: ubuntu-latest
    permissions:
      issues: write

    steps:
      # Check out repository
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          ref: refs/heads/staging
          persist-credentials: false
          fetch-depth: 0

      # Run script to parse issue
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests "pydantic==1.*" pytest regex

      - name: Parse Issue into Blueprint
        env:
          GITHUB_CONTEXT: ${{ toJson(github.event.issue) }}
          commenter: ${ github.event.comment }
        run: |
          python ./build/parse_submission.py

      - name: Run pytest
        run: |
          pytest

      # Commit changes
      - name: Commit New Blueprint
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add ./blueprints
          git diff-index --quiet HEAD || git commit -a -m "Create ${{ github.event.issue.user.login }}'s Blueprint #${{ github.event.issue.number }}"
          git pull

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: refs/heads/staging
